<app-quiz-header></app-quiz-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      
      <app-quiz-dion></app-quiz-dion>
      <!-- <app-tugas3></app-tugas3> -->
      <!-- <app-servers></app-servers> -->
      <!-- <app-tugas></app-tugas> -->
      <!-- <app-servers></app-servers> tag selector -->
      <!-- <div app-server></div> property selector-->
      <!-- <div class="app-servers"></div> class selector -->
      <!---<-tag selector    <div class='app-seerver' untuk class selector></div>, <div app-server></div> untuk property selector-->
    </div>
  </div>
</div>

