<div class="row">
  <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-light navbar-dark" style="background-color:rgb(39, 105, 247);">
        <a class="navbar-brand" href="#">Noiid</a>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="navbar-nav">
              <li class="nav-item active">
                 <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link" href="#">Master Data</a>
              </li>
            </ul>
          </div>
        </nav>
  </div>
</div>
